body{
	background-color: black; 
	background-image: url('photographer.jpg');
	background-repeat: no-repeat;
	/* background-position: left; */
}

h1{
	color: red;
	background-color: green;
}
p{
	color: white;
}


 .hero{
 	text-align: center;
 	/* position: absolute; */
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	color: aliceblue;
 }