a{
	color: red;
	text-decoration: none;
	background-color: green;
}

a:hover{
	color: blue;
	background-color: black;
}
a:active{
	color: yellow;
}

/* a:visited{
	color: tomato;
	background-color: black;
} */